<div class="container">

  <h1>Welcome to Task Manager</h1>

  <div class="flex-home">
    <%= link_to "Continue", tasks_path, class: "waves-effect waves-light btn btn-index bold" %>
  </div>

</div>
